<html>
  <head>
    <meta charset='utf-8' />
    <title>Login</title>
    <script
      src='https://code.jquery.com/jquery-3.6.0.min.js'
      integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
      crossorigin='anonymous'
    ></script>
  </head>
  <body>
    <form>
      <label for='email'>email</label><br />
      <input type='text' id='email' name='email' /><br />
      <label for='password'>password</label><br />
      <input type='password' id='password' name='password' /><br />
      <input type='hidden' id='afterLoginGoTo' value='{{afterLoginGoTo}}'/>
      <input type='button' value='Login' onclick='login()'/>
    </form>
    <script>
      function login(){ 
        var afterLoginGoTo = document.getElementById('afterLoginGoTo').value;
        var requestObj = {
          email: document.getElementById('email').value,
          password: document.getElementById('password').value
        };
        $.post('/users/login', requestObj).always(function(){
          window.location.replace(afterLoginGoTo);
        });
      }
    </script>
  </body>
</html>